*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* background-color: rgba(11, 10, 10, 0.8); */
    background-image: url("../img/ticket.jpg");
}

.dash-body {
    background-color: rgba(165, 162, 162, 0.3);
}

div.card-form{
    background-color: black;
    max-width: 900px;
}

.bx-shadow{
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-style{
    z-index: -1;
    position: absolute;
    width: 55%;
    height: 200%;
    background-color: #db021b;
    transform: skewX(43deg);
}

.box-card{
    padding-top: 60px !important;
    /* height: 300px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .image-logo{
    position: absolute;
    right: 44.8%;
    top: 59px;
} */


.img-form {
    min-height: -webkit-fill-available !important;
}

:root {
    --topNavbarHeight: 65.5px !important;
}

.sidebar-nav {
    --bs-offcanvas-width: 270px !important;
    top: var(--topNavbarHeight) !important;
}

.modal-backdrop{
    display: none !important;
}

button.navbar-toggler {
    background-color: white;
}

.welcome-card {
    background: rgb(231, 229, 229);
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(153,6,45,1) 100%); */
}

main {
    margin: 0 10px 0 8px;
}

.modal-content {
    background-color: #fcfafa !important;
}

.btn-close{
    display: block;
}

@media (min-width: 992px) {

    /* .btn-close{
        display: none;
    } */

    .modal-backdrop{
        display: none !important;
    }
    
    main {
        margin-left: 280px;
    }

    /* .card-statis {
        width: 248px;
    } */

    .box-card{
        padding-top: 60px !important;
        height: 300px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}


