section {
    /* background-color: rgba(11, 10, 10, 0.8); */
    background-image: url("../img/ticket.jpg");
}

div.card {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-width: 900px;
}

.img-fluid {
    min-height: -webkit-fill-available !important;
}



.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    
}

.offcanvas.offcanvas-start {
    width: 270px;
}



