
section {
    /* background-color: rgba(11, 10, 10, 0.8); */
    background-image: url("../img/ticket.jpg");
}

div.card {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-width: 900px;
}

.img-fluid {
    min-height: -webkit-fill-available !important;
}

:root {
    --topNavbarHeight: 66px !important;
}

.sidebar-nav {
    --bs-offcanvas-width: 270px !important;
    top: var(--topNavbarHeight) !important;
}

.modal-backdrop{
    display: none !important;
}

@media (min-width: 992px) {

    .btn-close{
        display: none !important;
    }

    .modal-backdrop{
        display: none !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}

